:root {
    background-color: lavender;
    background-size:100%;
    background-origin: center;
}

.center-box{
    background-color: #EAD8C0;
    max-width: 450px;
    text-align: center;
    position:relative;
    margin-right: auto;
    margin-left: auto;
    margin-top:200px;
    padding:50px;
    border-radius:10px;
    transform: rotate(1deg);
}
.inlet-box{
    background-color: #A79277;
    padding:10px;
    border-radius:10px;
    transform: rotate(-2deg);
    margin-bottom:10px;
}
.inlet-box a:link{
    color:#FFF2E1;
}
.inlet-box a:visited{
    color:#FFF2E1;
}
.tab {
  background-color: var(--colour-1);
  width: 200px;
  padding: 20px;
  height: 500px
}

.tabs{
  height:25px;
  text-align: left;
  padding-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition-duration:0.5s;
  transform: rotate(5deg);
}

.tabs:hover {
  transform: scaleY(1.25) rotate(5deg);
  transform-origin: center;
}
